<style>
    .mod-item.override_{{include.id}}:before{
        background: #{{include.base_color}};
    }

    .mod-item.override_{{include.id}} .cover .top-gradient{
        background: linear-gradient(#{{include.base_color}}, transparent);
    }

    {% if(include.shadow) %}
    .mod-item.override_{{include.id}} .title:after{
        background: url("/assets/img/mods-title-shadow-{{include.shadow}}.png") repeat-x!important;
    }

    .mod-item.override_{{include.id}} .title{
        background: #d2d2d2!important;
    }
    {% endif %}
</style>

{% if include.external and include.external!="" %}
<a href="{{include.external}}" target="_blank" class="mod-item override_{{include.id}} external">
{% else %}
<a href="{{include.link}}" class="mod-item override_{{include.id}}">
{% endif %}
    <div class="title">
        <div class="line1">{{include.title1}}</div>
        <div class="line2">{{include.title2}}</div>
    </div>

    <div class="spacer"></div>

    <div class="cover">
        <img src="{{include.img_cover}}">
        <div class="top-gradient"></div>
    </div>
</a>