<article class="edit-controls">
    <span class="share-title">Share:</span>
    <div class="share-social">
        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="//yastatic.net/share2/share.js"></script>
        <div class="ya-share2" data-services="facebook,gplus,twitter,lj,viber,whatsapp,skype,telegram"></div>
    </div>

    <a href="https://github.com/NickRimmer/RedBot/edit/gh-pages/{{page.path}}" class="control-edit btn btn-xs btn-info" target="_blank"><i class="fa fa-edit"></i> edit page</a>
</article>