.page-content{
    a:not(.btn){
        text-decoration: none;
        border-bottom: solid 1px #78d4ff;

        &:hover{
            border-bottom-color: #e2222b;
        }
    }

    img{
        max-width: 100%;
    }

    .content-navigate{
        text-align: center;

        @include media-breakpoint-down(xs){
            a{
                display: block;
                margin-bottom: 5px;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}