.printers{
    .info{
        display: flex;
        padding: 20px 0;

        .cover {
            img{
                border-style: solid;
                border-width: 2px;
                border-color: rgb(39, 141, 194);
                border-radius: 8px;

                box-shadow: -1.145px 5.89px 13px 0px rgba(47, 148, 238, 0.29);
            }

            &.disabled img{
                border-color: #9a9a9a;
            }
        }

        .description{
            margin-left: 30px;
            flex-grow: 1;

            .content{
                $border: solid 1px #b9dfff;

                border-top: $border;
                border-bottom: $border;
                padding-top: 10px;
                margin-bottom: 20px;
            }

            .buttons{
                .btn-custom-mods{
                    float: right;
                }
            }
        }
    }

    @include media-breakpoint-only(lg){
        .info{
            .description .buttons{
                a{
                    margin-bottom: 5px;

                    &.btn-custom-mods{
                        float: none;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md){
        .info{
            flex-direction: column;
            align-items: center;
        }
    }

    @include media-breakpoint-down(sm){
        .info{
            .description .buttons{
                a{
                    margin-bottom: 5px;

                    &.btn-custom-mods{
                        float: none;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(xs){
        .info{
            .description .buttons{
                a{
                    display: block;
                }
            }
        }
    }
}