<!DOCTYPE html>
<html>

{% include head.html %}

    <body>
        <div class="responsive-check d-xs-none"></div>
        <div class="responsive-check d-sm-none"></div>
        <div class="responsive-check d-md-none"></div>
        <div class="responsive-check d-lg-none"></div>


    {% include header.html %}

        <section class="site-content container">

            {% if page.breadcrumb_hide!=true %}
                {% include breadcrumbs.html %}
            {% else %}
                <div class="pt-4"></div>
            {% endif %}

            <article class="{% if page.article_style and page.article_style!="" %}{{page.article_style}}{% else %}block-type-1{% endif %}">

                {% if page.submenu %}
                    {% include submenu.html %}
                {% endif %}

                <span class="page-content">
                    {{ content }}
                </span>

            </article>

        </section>

    {% include footer.html %}

    </body>

    {% if page.lang %}
    <script>
        Cookies.set('lang', '{{page.lang}}');
    </script>
    {% endif %}
</html>
