<!DOCTYPE html>
<html>

{% include head.html %}

    <body>

    {% include header.html %}

        <section class="site-content container">

            {% if page.no_breadcrumbs!=true %}
                {% include breadcrumbs.html %}
            {% endif %}

            <article class="block-type-1">
                {% if page.submenu %}
                    {% include submenu.html %}
                {% endif %}

                {{ content }}
            </article>

        </section>

    {% include footer.html %}

    </body>

    {% if page.lang %}
    <script>
        Cookies.set('lang', '{{page.lang}}');
    </script>
    {% endif %}
</html>
